package: nanopolish
Version: MAJOR.MINOR.SUB-PATCH~CODENAME
Section: base
Priority: optional
Architecture: amd64
Source: nanopolish
Depends: libbz2-dev, libncurses5-dev, bioperl, python-biopython
Build-Depends: libbz2-dev, libncurses5-dev, wget, rsync
Maintainer: Jared Simpson
Description: .deb build of https://github.com/jts/nanopolish
